[package]
name = "egui_dnd"
version = "0.1.0"
edition = "2021"
authors = ["Lucas Meurer"]
repository = "https://github.com/lucasmerlin/egui_dnd"
keywords = ["egui", "drag", "drop", "ui"]
description = "A drag and drop library for egui"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
eframe = "0.20.1"

[dev-dependencies]
egui_extras = "0.20.0"
color-hex = "0.2.0"
egui = { version = "0.20.1", features = ["color-hex"] }


[workspace]
members = ["fancy-example"]
