[package]
name = "egui_inbox"
version = "0.1.0"
edition = "2021"
description = "Utility to send messages to egui views from async functions, callbacks, etc. without having to use interior mutability."
license = "MIT"
repository = "https://github.com/lucasmerlin/hello_egui/tree/main/crates/egui_inbox"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
egui = { version = "0.22.0", default-features = false }

[dev-dependencies]
eframe = "0.22.0"
